* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.nav-left {
    margin: 5px auto;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
}

.nav-center {
    margin: 1px 330px;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
}

.nav-right {
    margin: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
}

.content {
    width: 1024px;
    height: 618px;
    background: #192314;
    margin: 0 auto;
}

.nav {
    width: 1024px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #fff;
}

.column-right {
    width: 640px;
    height: 400px;
    background-image: url(green-beosound-shape-desktop.jpg);
    background-size: 640px auto;
    float: right;
}

.column-left {
    width: 512px;
    height: 208px;
    position: absolute;
    padding-top: 120px;
    padding-left: 100px;
    overflow: hidden;
}

.text1 {
    margin: 2px;
    font-size: 16px;
    font-style: normal;
    font-family: sans-serif;
    color: #8A6D3C;
}

.text2 {
    margin: 2px;
    font-size: 50px;
    font-style: normal;
    font-family: inherit;
    color: #8A6D3C;
}

.text3 {
    margin: 2px;
    font-size: 16px;
    font-style: normal;
    color: #8A6D3C;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text4 {
    margin: 2px;
    font-size: 16px;
    font-style: normal;
    padding: 12px 35px;
    background: #8a6d3b;
    color: #fff;
}

.main {
    width: 1024px;
    height: 520px;
    margin: 0 auto;
    background-image: url(img-bg-1350.jpg);
    position: relative;
}

.banner {
    position: absolute;
    top: -100px;
    left: 177px;
    width: 680px;
    height: 304px;
    padding: 0 35px;
}

.jpg1 {
    float: left;
    width: 203px;
    height: 304px;
    background-image: url(beovision-eclipse-frontpage-brass-smoked-oak-2.jpg);
    background-size: 100%;
    position: relative;
}

.banner-text3-1 {
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 5px 40px 5px 20px;
    background-color: #fff;
}

.jpg2 {
    float: left;
    width: 203px;
    height: 304px;
    background-image: url(beoplay-p6-8.jpg);
    background-size: 100%;
    position: relative;
}

.banner-text3-2 {
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 5px 40px 5px 20px;
    background-color: #fff;
}

.jpg3 {
    float: left;
    width: 203px;
    height: 304px;
    background-image: url(earset-subtile1.jpg);
    background-size: 100%;
    position: relative;
}

.banner-text3-3 {
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 5px 40px 5px 20px;
    background-color: #fff;
}

.banner-text {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.banner-text2 {
    margin-top: 120px;
    margin-left: 15px;
    font-size: 16px;
    color: #fff;
}

.banner-text2 {
    opacity: 0;
    filter: alpha(opacity=40);
}

.banner-text2:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.banner-text3-1 {
    opacity: 0;
    filter: alpha(opacity=40);
}

.banner-text3-1:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.banner-text3-2 {
    opacity: 0;
    filter: alpha(opacity=40);
}

.banner-text3-2:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.banner-text3-3 {
    opacity: 0;
    filter: alpha(opacity=40);
}

.banner-text3-3:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.product-text {
    margin: 0 auto;
    width: 1024px;
    height: 268px;
}

.product-text-1 {
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.product-text-2 {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.product-list {
    margin: 0 auto;
    width: 705px;
    padding: 0 156px;
    height: 315px;
}

.product-pic1 {
    float: left;
    width: 235px;
    height: 156px;
    position: relative;
    overflow: hidden;
}

.product-text1 {
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #fff;
}

.product-pic2 {
    float: left;
    width: 235px;
    height: 156px;
    position: relative;
    overflow: hidden;
}

.product-text2 {
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #fff;
}

.product-pic3 {
    float: left;
    width: 235px;
    height: 156px;
    position: relative;
    overflow: hidden;
}

.product-text3 {
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #fff;
}

.product-pic4 {
    float: left;
    width: 235px;
    height: 156px;
    position: relative;
    overflow: hidden;
}

.product-text4 {
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #fff;
}

.product-pic5 {
    float: left;
    width: 235px;
    height: 156px;
    position: relative;
    overflow: hidden;
}

.product-text5 {
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #fff;
}

.product-pic6 {
    float: left;
    width: 235px;
    height: 156px;
    position: relative;
    overflow: hidden;
}

.product-text6 {
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #fff;
}

.guild {
    position: absolute;
    padding: 10px 25px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    left: 30px;
    bottom: 10px;
}

.guild {
    opacity: 0;
    filter: alpha(opacity=40);
}

.guild:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.news-title {
    width: 705px;
    height: 325px;
    margin: 0 auto;
}

.news-text-1 {
    margin: 30px 0 18px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
}

.news-text-2 {
    line-height: 50px;
    text-align: center;
    font-size: 40px;
}

.story-list {
    margin: 0 auto;
    width: 705px;
    display: flex;
    flex-wrap: wrap;
}

.story {
    width: 176px;
    height: 168px;
}

.desc {
    width: 176px;
    padding: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 100%;
}

.story:nth-child(1) {
    background: url(design-as-a-group-effort-01.jpg);
    background-size: 176px 168px;
}

.story:nth-child(2) {
    background: url(the-krane.jpg);
    background-size: 176px 168px;
}

.story:nth-child(3) {
    background: url(harmonies-story.jpg);
    background-size: 353px 168px;
}

.story:nth-child(4) {
    background: url(harmonies-story.jpg);
    background-size: 353px 168px;
}

.footer {
    display: flex;
    padding: 0 14px;
    height: 536px;
    border-top: solid 1px #f2f2f2;
}

.news-service {
    width: 47%;
    height: 456px;
}

.news-service:nth-child(1) {
    border-right: solid 1px #f2f2f2;
}

.news-service .icon {
    margin: 80px auto 30px auto;
    width: 56px;
    height: 56px;
}

.news-service h5 {
    margin: 20px 0 20px 0;
    line-height: 23px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.news-service h6 {
    line-height: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.news-service:nth-child(2) h6{
    margin-bottom: 112px;
}

.news-service input {
    display: block;
    border: solid 1px #ccc;
    outline: none;
    margin: 12px auto 40px auto;
    padding: 1px 6px;
    width: 372px;
    height: 56px;
    font-size: 12px;
    line-height: 17px;
}

.news-service:nth-child(1) .icon {
    background: url(news-icon.jpg);
}

.news-service:nth-child(2) .icon {
    background: url(search-icon.jpg);
}

.button {
    margin: 20px auto;
    padding: 12px 35px;
    width: 40%;
    background: rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    text-align: center;
}

.copyright {
    margin: 10px auto;
    width: 1024px;
    height: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.footer-logo{
    float: left;
    margin: 2px 3px;
    width: 18px;
    height: 18px;
    background: url(footer.png);
    background-size: 100%;
}
.copyRight-text {
    margin: 10px;
    padding: 1px 6px;
    text-align: center;
}

.copyRight-text:nth-child(1) {
    float: left;
    left: 20px;
}
.copyRight-text:nth-child(2) {
    float: right;
    margin: 10px;
    font-size: 12px;
    font-style: normal;
}