*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
}
.firstbox{
	margin:0 auto;
	width: 1024px;
	position: absolute;
	overflow: hidden;
	border-bottom:solid 1px #fff ;
}
.cricl1{
	float: left;
	margin: 5px;
	font-size: 20px;
	font-family: sans-serif;
	color:#fff;
}
.cricl2{
	float: left;
	margin: 1px 330px;
	font-size: 30px;
	font-family: sans-serif;
	color: #fff;
}
.cricl3{
	float: right;
	margin: 5px;
	font-size: 20px;
	font-family: sans-serif;
	color: #fff;
}
.secondbox{
	width: 1024px;
	height: 618px;
	background:#192314;
	margin:0 auto;
	overflow: hidden;
}
.secondright{
	width: 640px;
	height: 400px;
	background-image:url(green-beosound-shape-desktop.jpg);
	background-size: 640px auto;
	float: right;
}
.secondleft{
	width: 512px;
	height: 208px;
	position: absolute;
	padding-top: 120px;
	padding-left: 100px;
	overflow: hidden;
}
.text1{
	margin: 2px;
	font-size: 16px;
	font-style: normal;
	font-family: sans-serif;
	color: #8A6D3C;
}
.text2{
	margin: 2px;
	font-size: 50px;
	font-style: normal;
	font-family: inherit;
	color: #8A6D3C;
}
.text3{
	margin: 2px;
	font-size: 16px;
	font-style: normal;
	font-family: ;
	color: #8A6D3C;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text4{
	margin: 2px;
	font-size: 16px;
	font-style: normal;
	font-family:  "Gotham SSm A","Gotham SSm B";
	padding: 12px 35px;
	background:#8a6d3b;
	color: #fff;
}
.thridbox{
	width: 1024px;
	height: 720px;
	margin: 0 auto;
	background-image:url(img-bg-1350.jpg);
	position: relative;
}
.picbox{
	position: absolute;
	top:-100px;
	left: 177px;
	width: 680px;
	height: 304px;
	padding: 0 35px;
}
.jpg1{
	float: left;
	width: 203px;
	height: 304px;
	background-image: url(beovision-eclipse-frontpage-brass-smoked-oak-2.jpg);
	background-size: 100%;
	position: relative;
}
.jpgtext3-1{
	position: absolute;
	bottom: 20px;
	left:15px;
	padding:5px 40px 5px 20px;
	background-color: #fff;
}
.jpg2{
	float: left;
	width: 203px;
	height: 304px;
	background-image: url(beoplay-p6-8.jpg);
	background-size: 100%;
	position: relative;
}
.jpgtext3-2{
	position: absolute;
	bottom: 20px;
	left:15px;
	padding:5px 40px 5px 20px;
	background-color: #fff;
}
.jpg3{
	float: left;
	width: 203px;
	height: 304px;
	background-image: url(earset-subtile1.jpg);
	background-size: 100%;
	position: relative;
}
.jpgtext3-3{
	position: absolute;
	bottom: 20px;
	left:15px;
	padding:5px 40px 5px 20px;
	background-color: #fff;
}
.jpgtext{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
.jpgtext2{
	margin-top: 120px;
	margin-left: 15px;
	font-size: 16px;
	color: #fff;
}
.jpgtext2
{
  opacity:0;
  filter:alpha(opacity=40);
}
.jpgtext2:hover
{
  opacity:1.0;
  filter:alpha(opacity=100);
}
.jpgtext3-1
{
  opacity:0;
  filter:alpha(opacity=40);
}
.jpgtext3-1:hover
{
  opacity:1.0;
  filter:alpha(opacity=100);
}
.jpgtext3-2
{
  opacity:0;
  filter:alpha(opacity=40);
}
.jpgtext3-2:hover
{
  opacity:1.0;
  filter:alpha(opacity=100);
}
.jpgtext3-3
{
  opacity:0;
  filter:alpha(opacity=40);
}
.jpgtext3-3:hover
{
  opacity:1.0;
  filter:alpha(opacity=100);
}